<h1>New addition</h1>

<form action="/wizard_add">
  <label for="swift">Add this:</label>
  <input id="swift" type="text" name="first_num">
  
  <label for="jay">to this:</label>
  <input id="jay" type="text" name="second_num">

  <button>Add!</button>
</form>