<h1>New division</h1>

<form action="/wizard_divide">
  <label for="purple">Divide this:</label>
  <input id="purple" type="text" name="first_num">
  
  <label for="pink">by this:</label>
  <input id="pink" type="text" name="second_num">

  <button>Divide!</button>
</form>