<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="green">Multiply this:</label>
  <input id="green" type="text" name="first_num">
  
  <label for="orange">by this:</label>
  <input id="orange" type="text" name="second_num">

  <button>Multiply!</button>
</form>