<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="blue">Subtract this:</label>
  <input id="blue" type="text" name="first_num">
  
  <label for="red">from this:</label>
  <input id="red" type="text" name="second_num">

  <button>Subtract!</button>
</form>